body {
  margin: 0;
  font-family: Azeret Mono, monospace;
  font-optical-sizing: auto; 
}

.main {
  display: flex;
}

.contentContainer {
  height: 100vh;
  overflow-y: scroll;
  flex: 1;
}

.window-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}