.login-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.login-card {
    background-color: white;
    width: 200px;
    padding: 100px;
    padding-top: 110px;
    padding-bottom: 85px;
    border-radius: 10px;
    box-shadow: 
        -5px 5px 10px rgba(0, 0, 0, 0.2),
        5px 5px 10px rgba(0, 0, 0, 0.2);
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    background-color: #538df1;
    color: white;
    border: transparent;
    border-radius: 30px;
}

Input {
    margin-bottom: 10px;
}

.title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}