.tasksholder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.tasknav {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 7%;
}

.task-option {
    display: flex;
    margin: 0 50px;
    height: 100%;
    width: 190px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.task-option:hover {
    text-decoration: underline 2px;
}

.task-content {
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 50;
}

.task-item {
    margin: 50px 0;
    width: 60%;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}

.task-img {
    width: 100%;
    max-height: 150%;
}

.task-info {
    position: relative;
    padding: 0 5px;
}

.task-name {
    font-size: 20px;
    text-decoration: underline;
}

.task-status {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}

.task-status .f1exfvgq {
    min-width: 120px;
}

.task-comments {
    border-top: 1px solid rgb(185, 185, 185);
    margin-top: 10px;
    padding: 5px;
}

.task-description {
    width: 100%;
    word-wrap: break-word;
}

.comment-holder {

}

.comment-user {

}

.comment {

}

.comment-date {
    
}

.new-comment {
    
}

.assign {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 20;
}