.uploadholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    overflow-y: scroll;
}

form {
    width: 60%;
    margin-left: 100px;
}

input, textarea {
    height: 40px;
    font-size: 18px;
    width: 100%;
    background-color: #4d4d4d;
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}

textarea {
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
}

input[type="file"] {
    background-color: transparent;
    color: black;
    height: auto;
    border-radius: 0;
}

.file {
    max-height: 300px;
    max-width: 100%;
}

input[type="submit"] {
    height: 90px;
    width: 40%;
    display: block;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
    margin-top: 20px;
}